/* ApiPage.css */

/* Custom navbar styling similar to RecipePage.jsx */
.custom-navbar {
  background-color: #333; /* Dark background for navbar */
  color: white; /* White text */
  padding: 1em; /* Add some padding */
}

.custom-navbar .navbar-brand {
  color: white; /* Ensure brand name is white */
  font-size: 24px; /* Slightly larger font size */
  text-transform: uppercase; /* Make text uppercase */
  letter-spacing: 2px; /* Add some letter spacing */
}

.custom-navbar .navbar-toggler {
  border: none; /* Remove the default border */
}

.custom-navbar .navbar-toggler-icon {
  color: white; /* White color for toggle icon */
}

.custom-navbar .navbar-nav {
  margin-left: 3%; /* Push navbar items to the right */
 
}

.custom-navbar .navbar-nav .nav-item .nav-link {
  color: white; /* White color for the links */
  font-size: 18px; /* Adjust font size */
  margin-left: 20px; /* Add some spacing between links */
}

.custom-navbar .navbar-nav .nav-item .nav-link:hover {
  color: #007bff; /* Change to Bootstrap primary color on hover */
}

.custom-navbar .navbar-nav .nav-item .custom-nav-link {
  background: none; /* No background */
  border: none; /* No border */
  color: white; /* White text */
  padding: 0; /* No padding */
  font-size: 18px;
}

.custom-navbar .navbar-nav .nav-item .custom-nav-link:hover {
  color: #007bff; /* On hover, change to primary color */
}

@media (max-width: 768px) {
  .custom-navbar {
    text-align: center; /* Center text on smaller screens */
  }

  .custom-navbar .navbar-nav {
    margin-top: 10px; /* Add margin between links on smaller screens */
  }

  .custom-navbar .navbar-nav .nav-item {
    margin-bottom: 10px; /* Add spacing between items */
  }
}
